.transaction {
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-bottom: 0;
    border-left: 3px solid transparent;
    background-color: #303030; 
}

@media only screen and (max-device-width: 780px) { 
    .transaction {
        margin-left: 0;
        margin-right: 0;
    }
}

.symbol {
    font-size: 20px;
}

.amount {
    font-size: 60px;
}

.debit .glyphicon, .credit .glyphicon {
    font-size: 40px;
    margin-top: 15px;
}

.debit h1, .debit span {
    color: #ce4844;
    font-weight: bold;
}

.debit:hover {
    border-left: 3px solid #ce4844;
}

.credit h1, .credit span {
    color: #337ab7;
    font-weight: bold;
}

.credit:hover {
    border-left: 3px solid #337ab7;
}