<div class="row">
    <div class="col-md-3">
        D${{transaction.amount}}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="card">
                <div *ngIf="isCredit()">
                    Recebido de {{transaction.from.name}}
                </div>
                <div *ngIf="!isCredit()">
                    Enviado para {{transaction.to.name}}
                </div>
                <br> Mensagem: {{transaction.message}}
            </div>
        </div>
    </div>
</div>
<hr>