.jumbotron {
    border-radius: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.btn {
    border-radius: 0px;
}

.mainButtons {
    font-size: 40px;
}

select.ng-invalid:not(:focus) {
    color: #8f8f8f;
}

select option:disabled {
    display: none;
}

.form-control {
    border-left: 5px solid transparent;
}

:not(.ng-pristine).ng-valid:not(form) {
    border: 1px solid #375a7f;
    border-left: 6px solid #375a7f;
}

:not(.ng-pristine).ng-invalid:not(form){
    border: 1px solid #e74c3c;
    border-left: 6px solid #e74c3c;
}

p.text-danger {
    font-size: 75%;
    font-weight: bold;
    transition: ease 0.3s
}