<div class="jumbotron">

    <div class="buttonsPanel" [@slideOut]="buttonsState">
        <button type="button" class="btn btn-primary btn-lg btn-block mainButtons" (click)="toggleMenu()">Doar</button>
        <br>
        <button type="button" class="btn btn-success btn-lg btn-block mainButtons" (click)="toggleMenu()">Pechinchar</button>
    </div>

    <div class="donatePanel" [@slideIn]="formState">
        <form (ngSubmit)="donate($event)">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">D$</div>
                    <input [(ngModel)]="transaction.amount" required type="number" min="1" max="1000" name="inputAmount" class="form-control" placeholder="Quanto?">
                </div>
            </div>

            <div class="form-group">
                <select [(ngModel)]="transaction.to" class="form-control" name="inputUser">
                	<option [value]="transaction.to" disabled selected>Para quem?</option>
					<option [ngValue]="user" *ngFor="let user of teamUsers">{{user.name}}</option>					
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="inputReason">
                	<option selected disabled>Porque?</option>
                	<option value="1">Porque eu quis</option>
					<option value="2">Sem motivo aparente</option>
					<option value="3">Motivo desconhecido</option>
					<option value="4">Fui obrigado</option>
					<option value="5">Adult&eacute;rio</option>
					<option value="6">Outros</option>
                </select>
            </div>

            <div class="form-group">
                <textarea [(ngModel)]="transaction.message" class="form-control" name="inputMessage" rows="2" placeholder="Mande uma mensagem..."></textarea>
            </div>

            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary btn-default">Enviar</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger btn-default" (click)="toggleMenu()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>