<div class="row">
	<div class="col-md-4">
		<app-wallet></app-wallet>
		<app-donate></app-donate>
	</div>
	<div class="col-md-8">
		<div *ngIf="transactions == null" class="iconContainer">
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
		</div>
		<div class="jumbotron" *ngIf="transactions != null && transactions.length == 0">
			<span>Voc&ecirc; n&atilde;o recebeu nem doou Dynas ainda!</span>
		</div>

		<app-transaction [transaction]="pendingTransaction" *ngFor="let pendingTransaction of pendingTransactions" (change)="onTransactionChange($event)"></app-transaction>
		
		<br *ngIf="pendingTransactions != null && pendingTransactions.length > 0">

		<app-transaction [transaction]="transaction" *ngFor="let transaction of transactions"></app-transaction>
	</div>
</div>