<div class="row">
	<div class="col-md-4">
		<app-wallet></app-wallet>
		<app-donate></app-donate>
	</div>
	<div class="col-md-8 transactionContainer">
		<div class="row">
			<div class="col-md-3 received">
				<input type="checkbox" [(ngModel)]="receivedCheck" (change)="applyFilters()"> Recebidas
			</div>
			<div class="col-md-3 sent">
				<input type="checkbox" [(ngModel)]="sentCheck" (change)="applyFilters()"> Enviadas
			</div>
			<div class="col-md-3 pending">
				<input type="checkbox" [(ngModel)]="pendingCheck" (change)="applyFilters()"> Pendentes
			</div>
			<div class="col-md-3 canceled">
				<input type="checkbox" [(ngModel)]="canceledCheck" (change)="applyFilters()"> Canceladas/Negadas
			</div>
		</div>
		
		<div *ngIf="transactions == null" class="iconContainer">
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
		</div>
		
		<div class="jumbotron" *ngIf="!hasTransactions()">
			<span>Voc&ecirc; n&atilde;o recebeu nem doou Dynas ainda!</span>
		</div>

		<div *ngIf="hasPendingTransactions()" class="mid"></div>

		<app-transaction [transaction]="transaction" *ngFor="let transaction of filteredTransactions"></app-transaction>
	</div>
</div>