<nav class="navbar navbar-default" *ngIf="auth.loggedIn | async">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">DynaClub</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['/']">Dashboard <span class="sr-only">(current)</span></a></li>
        <li class="dropdown" *ngIf="admin">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/teams']">Equipes</a></li>
            <li><a [routerLink]="['/admin']">Usu&aacute;rios</a></li>
            <li><a [routerLink]="['/admin']">Configura&ccedil;&otilde;es</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile']">Profile</a></li>
            <li><a [routerLink]="['/profile']">Configura&ccedil;&otilde;es</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logout($event)">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div class="container">
  <div class="form-container">
    <router-outlet></router-outlet>
  </div>
</div>