<div class="container form-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <h2 class="h-slim">{{title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form novalidate (ngSubmit)="onSubmit(teamForm)" [formGroup]="teamForm">
                <div class="form-group" [class.has-error]="validator.hasErrorsFor('name')">
                    <label for="name" class="control-label">
                        Nome
                    </label>
                    <field-errors [errors]="validator.getErrorsFor('name')"></field-errors>
                    <input name="name" type="text" id="name" placeholder="Nome" 
                           class="form-control" formControlName="name">
                </div>

                <div class="form-group" [class.has-error]="validator.hasErrorsFor('active')">
                    <label><input type="checkbox" id="active" formControlName="active"> Ativo</label>
                </div>

                <button class="btn btn-default btn-warning pull-left" (click)="goBack()">Voltar</button>
                <button class="btn btn-default btn-primary pull-right" type="submit">Salvar</button>

            </form>
        </div>
    </div>
</div>