<div class="container">

    <div class="form-signin">
        <h2 class="form-signin-heading">Junte-se ao Club!</h2>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus [(ngModel)]="login">
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required [(ngModel)]="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" checked> Mantenha-me conectado
            </label>
        </div>
        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onButtonLoginClick()">Entrar</button>
    </div>

</div>