<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Junte-se ao Club!</h2>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" checked> Mantenha-me logado
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

</div>