<div class="container form-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <h2 class="h-slim">{{title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form novalidate (ngSubmit)="onSubmit(sprintForm)" [formGroup]="sprintForm">

                <div class="form-group" [class.has-error]="validator.hasErrorsFor('dateStart')">
                    <label for="dateStart" class="control-label">
                        Data início
                    </label>
                    <field-errors [errors]="validator.getErrorsFor('dateStart')"></field-errors>
                    <input name="dateStart" type="date" id="dateStart" placeholder="Data início" 
                           class="form-control" formControlName="dateStart">
                </div>
                
                <div class="form-group" [class.has-error]="validator.hasErrorsFor('dateFinish')">
                    <label for="dateFinish" class="control-label">
                        Data fim
                    </label>
                    <field-errors [errors]="validator.getErrorsFor('dateFinish')"></field-errors>
                    <input name="dateFinish" type="date" id="dateFinish" placeholder="Data fim" 
                           class="form-control" formControlName="dateFinish">
                </div>

                <div class="form-group" [class.has-error]="validator.hasErrorsFor('initialAmount')">
                    <label for="initialAmount" class="control-label">
                        Crédito inicial:
                    </label>
                    <field-errors [errors]="validator.getErrorsFor('initialAmount')"></field-errors>
                    <input name="initialAmount" type="number"  id="initialAmount" placeholder="Crédito inicial" 
                           class="form-control" formControlName="initialAmount">
                </div>

                <button class="btn btn-default btn-warning pull-left" (click)="goBack()">Voltar</button>
                <button class="btn btn-default btn-primary pull-right" type="submit">Salvar</button>

            </form>
        </div>
    </div>
</div>