<div class="container form-container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <h2 class="h-slim">Equipes</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-bottom: 10px;">
            <button (click)="gotoNewTeam()" class="btn btn-primary pull-right">
                <i class="fa fa-plus"></i> Nova
            </button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-bottom: 10px;">
            <table class="table table-striped table-hover table-bordered" style="margin-top: 10px;">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ativo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr team-search-item 
                        *ngFor="let team of teams" 
                        [team]="team" 
                        (afterDelete)="afterDelete($event)"></tr>    
                </tbody>
            </table>
        </div>
    </div>
</div>