<!DOCTYPE html>
<html>
<body>
    <h1>What a shame!</h1>
    <p>
        Voc&ecirc; est&aacute; recebendo este email pois n&atilde;o realizou 
        nenhuma doa&ccedil;&atilde;o no DynaClub na &Uacute;ltima semana.
    </p>
    <h3>DOAR AGORA</h3>
</body>
</html>