<div class="container form-container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <h2 class="h-slim">Sobre o DynaClub</h2>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3">

        <div class="row">
            <h4>Vers&atilde;o: {{appVersion}}</h4>
            <p>Github: https://github.com/yuribett/DynaClub</p>
        </div>

        <div class="row">
            <hr>
            <h2>Release 0.1.2</h2>
            <ul>
                <li>Atualiza&ccedil;&otilde;es de seguran&ccedil;a</li>
            </ul>
        </div>

        <div class="row">
            <hr>
            <h2>Release 0.1.1</h2>
            <ul>
                <li>Bloqueio do bot&atilde;o de doa&ccedil;&atilde;o caso resposta n&atilde;o ocorra instantaneamente</li>
            </ul>
        </div>

        <div class="row">
            <hr>
            <h2>Release 0.1.0</h2>
            <ul>
                <li>Vers&atilde;o inicial do app para 01/03/2017</li>
                <li>Sistema de autentica&ccedil;&atilde;o com login e senha</li>
                <li>Dashboard</li>
                <ul>
                    <li>Realiza doa&ccedil;&otilde;es</li>
                    <li>Recebe doa&ccedil;&otilde;es (via WebSocket)</li>
                    <li>Visualiza&ccedil;&atilde;o da carteira contendo meus Dynas e Dynas recebidos</li>
                    <li>Extrato de doa&ccedil;&otilde;es enviadas e recebidas</li>
                </ul>
                <li>Perfil multi-equipe</li>
                <li>Edi&ccedil;&atilde;o do Profile pessoal</li>
                <li>Menu Sobre, contendo informa&ccedil;&otilde;es da vers&atilde;o, gitgub e releases</li>
                <li>Admin</li>
                <ul>
                    <li>Cadastro de equipes</li>
                </ul>
            </ul>

        </div>

    </div>

</div>