<!DOCTYPE html>
<html>
<body>
    <h1>Yess o/</h1>
    <p>
        Voc&ecirc; est&aacute; recebendo este email pois <%= from %> acabou de aceitar seu pedido
        de doa&cceil;&atilde;o no valor de D$ <%= value %>.
    </p>
</body>
</html>