<!DOCTYPE html>
<html>
<body>
    <h1>Oh no, seu pedido foi negado!</h1>
    <p>
        Voc&ecirc; est&aacute; recebendo este email pois <%= from %> negou seu pedido de doa&ccedil;&atilde;o.
    </p>
</body>
</html>