<!DOCTYPE html>
<html>
<body>
    <h1>Pedido de doa&cceil;&atilde;o :O</h1>
    <p>
        Voc&ecirc; est&aacute; recebendo este email pois acabou de receber
        uma pedido de doa&cceil;&atilde;o no valor de D$ <%= value %> de <%= to %>.
    </p>
</body>
</html>