<!DOCTYPE html>
<html>
<body>
    <h1>Congrats!</h1>
    <p>
        Voc&ecirc; est&aacute; recebendo este email pois acabou de receber
        uma doa&ccedil;&atilde;o no valor de D$ <%= value %> de <%= from %>.
    </p>
</body>
</html>